body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.2;
}
.sections {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
section {
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0 0.5em;
}
@media (min-width: 800px) {
    section {
        max-width: 600px;
        min-width: 300px;
        width: calc(50vw - 1em - 1px);
    }
}
@media (max-width: 799px) {
    section {
        width: calc(100vw);
    }
}
section h3 {
    margin: 0 0 0.5em 0;
}
section ul {
    font-size: smaller;
    list-style-position: inside;
    padding-inline-start: 0;
}
.pass-label {
    color: green;
}
.pass-label::before {
    content: 'filtered';
}
.exceptions .pass-label::before {
    content: 'unfiltered';
}
.fail-label {
    color: red;
}
.fail-label::before {
    content: 'unfiltered';
}
.exceptions .fail-label::before {
    content: 'filtered';
}
em.filtering-mode {
    font-style: normal;
    background-color: rgba(34 93 176/8%);
    padding: 0 4px;
}
.tests {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.tile {
    display: inline-flex;
    flex-direction: column;
    margin: 0 0.5em 0.5em 0;
    min-width: 120px;
}
.tile div {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}
.tile > div {
    height: 40px;
    position: relative;
}
.tile > div > div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.tile code.filter {
    text-align: center;
    background-color: #e4e4e4;
    font-size: smaller;
    width: 100%
}
body:not(.showFilters) .tile > code.filter {
    display: none;
}
.tile iframe {
    display: none;
}
.tile .pass,
.tile.exception .fail {
    background-color: green;
}
.tile .pass::before {
    content: 'filtered';
}
.tile.exception .fail::before {
    content: '@ unfiltered';
}
.tile .fail,
.tile.exception .pass {
    background-color: red;
}
.tile .fail::before {
    content: 'unfiltered';
}
.tile.exception .pass::before {
    content: '@ filtered';
}

.tests a, .tests b {
    display: none;
}
.tests a::before {
    opacity: 0;
}
.tests b::after {
    opacity: 0;
}
.fail-pseudo::before {
    align-items: center;
    background-color: red;
    content: 'unfiltered';
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
hr {
    margin: 1em 0;
}